<html>
<head>
    <title>Create New User</title>
</head>

<body>
    <form method="POST" action="/user">
    <label for="first_name">Username</label>
    <br>
    <input type="text" name="username" placeholder="john123"/>
    <br>
    <label for="first_name">password</label>
    <br>
    <input type="password" name="password"/>
    <br>

    <label for="first_name">First Name</label>
    <br>
    <input type="text" name="first_name" placeholder="John"/>
    <br>

    <label for="last_name">Last Name</label>
    <br>
    <input type="text" name="last_name" placeholder="Doe"/>
    <br>

    <label for="birthday">Birthday</label>
    <br>
    <input type="string" name="birthday" placeholder="1998-12-22"
    />
    <br>

    <label for="gender">Gender</label>
    <br>
    <input type="text" name="gender" placeholder="Male/Female"/>
    <br>

    <label for="location">Location</label>
    <br>
    <input type="text" name="location" placeholder="xxxxxx street"/>
    <br>

    <label for="phone">Phone Number</label>
    <br>
    <input type="text" name="phone" placeholder="08xxx"/>
    <br>


    
    <button type="submit">Submit</button>
    </form>
</body>
</html